html { 
    margin: 0; padding: 0; height: 100%; width: 100%;
}
body { 
    font: 13px Helvetica, Arial;
    margin: 0; padding-top: 0;  height: 100%; width: 100%;
    box-sizing: border-box; 
    border: 20px solid #803b4b; 
    border-top: 30px solid #803b4b;
    border-bottom: 10px solid #803b4b;
    position: relative;
}

.chat{
    width: 70%;
    height: calc( 100% - 60px );
    position: absolute;
    padding: 0;
    margin: 0;
}

.userform{
    width: calc(30% - 21px); 
    height: calc( 100% - 100px );
    position: fixed;
    padding: 0;
    margin: 0;
    right: 20px;
    top: 30px;
    border-left: 10px solid #803b4b;
}

.inputform{
    width: 100%;
    height: 60px;
    margin: 0;
    padding: 0;
    position: absolute; bottom: 0px;
    background: #803b4b;
}

#messages {
    list-style-type: none; font-family: "Lucida Console", Monaco, monospace;
    padding: 0; margin: 0; 
    height: 100%;
    width: 100%;
    position: absolute; display: flex; flex-direction: column-reverse;
    overflow-y: scroll;
}

#messages li { padding: 5px 10px; word-wrap: break-word; }
#messages li:nth-child(odd) { background: #eee; word-wrap: break-word;}

#userlist {
    list-style-type: none; font-family: "Lucida Console", Monaco, monospace;
    padding: 0; margin: 0; 
    height: 100%;
    width: 100%;
    position: absolute; display: flex; flex-direction: column-reverse;
    overflow-y: scroll;
}
#userlist li { padding: 5px 10px; }


form { 
    align-content: center;
}

form input { left: 20px; bottom: 20px; width: calc(100% - 200px); position: absolute;}
form button { width: 9%; background: #877c7f; border: none; position: absolute;
    padding: 10px; top: 12px; right: 20px;}
